body {
	overflow-x: hidden;
	min-height: 100vh;
}

h1 {
	padding: 10px;
	font-weight: 300;
}

form {
	padding: 10px;
}

label {
	padding: 5px;
}
.title {
	color: white;
	margin: 5% 0 0;
	margin-top: 2%;
	text-shadow: 2px 2px rgb(29, 130, 135);
}
